/* ◘◘◘ RESET de estilos ◘◘◘ */

body, h1, h2, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito',Helvetica, Arial,sans-serif;
  color: #222222;
}

ul {             
  list-style: none;
}

a {
  text-decoration: none;
}

img {  /* quero que as imagens sejam responsivas, não estora os containers com max-width */
  display: block;
  max-width: 100%;
}

* {     /* estilo geral que mostra todas as tags, a área de conteúdo dos elementos */
  box-sizing: border-box;
}


/*  ◘◘◘ Superinfo ◘◘◘ */
.superinfo-bg {
  background: rgb(0, 0, 150);
  color: white;
}
.superinfo {
  max-width: 960px;
  margin: 0 auto;       /* alinhar ao centro o txt */
  display: flex;        /* elementos um ao lado do outro padrão */
  justify-content: space-between;        /* alinhados ponta a ponta */
  flex-wrap: wrap;                /* vão quebrando se eu diminuir a página */
  padding-top: 10px;           /* espaçamento top */
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;     /* margem up down R L */
}

.superinfo a {
  color: white;
}

/*  ◘◘◘ MENU ◘◘◘ */
.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;  /* distância do elemento top e bottom */
  display: flex;
  flex-wrap: wrap;       /* quebra */
  justify-content: space-between; /* alinhados na ponta */
  align-items: center;      /* marca sempre no centro */
}

.menu a { 
  color: white;
}

.menu-logo a {
  font-size: 2.25em;          /* 36/16=2,25em */
  font-weight: bold;
  margin: 0 auto;        /* se diminuir a janela a ul não grudar, como um gutter */
}

.menu-nav ul {
  display: flex;        /* posso ter flex dentro de flex */
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;  /* aumentar a área de contato */
}

.menu-nav a:hover {        /* ao passar o mouse muda a cor */
  color: #122ab2;
}

/*  ◘◘◘ Introdução ◘◘◘ */

.introducao {
  font-size: 3em;       /* 48/16=3em  */      
  line-height: 1;         /* ficar mais grudado as letras,tipografia grande fazer isso */
  max-width: 960px;
  margin: 0 auto;          /* centralizar externo*/
  padding: 60px 10px;  /* ajustar espaçamento cimabaixo RightLeft interno */
}

/*  ◘◘◘ Sobre ◘◘◘ */
.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;    /* centralizar!! */
  padding: 40px 0;     /* espaçar separação */
  display: flex;     /* são os filhos da div */
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2;     /* 2 grow 1 shrink 0 basis ao definir como 2 */
  margin: 0 10px;   /* não deixar grudado */
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;    /* diminuir o contraste do txt */
}

.sobre-img {
  flex: 1;
  margin: 0 10px;
}




