/* ◘◘◘ RESET de estilos ◘◘◘ */

body, h1, h2, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito',Helvetica, Arial,sans-serif;
  color: #222222;
}

ul {             
  list-style: none;
}

a {
  text-decoration: none;
}

img {  /* quero que as imagens sejam responsivas, não estora os containers com max-width */
  display: block;
  max-width: 100%;
}

* {     /* estilo geral que mostra todas as tags, a área de conteúdo dos elementos */
  box-sizing: border-box;
}


/*  ◘◘◘ Superinfo ◘◘◘ */
.superinfo-bg {
  background: rgb(0, 0, 150);
  color: white;
}
.superinfo {
  max-width: 960px;
  margin: 0 auto;       /* alinhar ao centro o txt */
  display: flex;        /* elementos um ao lado do outro padrão */
  justify-content: space-between;        /* alinhados ponta a ponta */
  flex-wrap: wrap;                /* vão quebrando se eu diminuir a página */
  padding-top: 10px;           /* espaçamento top */
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;     /* margem up down R L */
}

.superinfo a {
  color: white;
}

/*  ◘◘◘ MENU ◘◘◘ */
.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;  /* distância do elemento top e bottom */
  display: flex;
  flex-wrap: wrap;       /* quebra */
  justify-content: space-between; /* alinhados na ponta */
  align-items: center;      /* marca sempre no centro */
}

.menu a { 
  color: white;
}

.menu-logo a {
  font-size: 2.25em;          /* 36/16=2,25em */
  font-weight: bold;
  margin: 0 auto;        /* se diminuir a janela a ul não grudar, como um gutter */
}

.menu-nav ul {
  display: flex;        /* posso ter flex dentro de flex */
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;  /* aumentar a área de contato */
}

.menu-nav a:hover {        /* ao passar o mouse muda a cor */
  color: #122ab2;
}

/*  ◘◘◘ Introdução ◘◘◘ */

.introducao {
  font-size: 3em;       /* 48/16=3em  */      
  line-height: 1;         /* ficar mais grudado as letras,tipografia grande fazer isso */
  max-width: 960px;
  margin: 0 auto;          /* centralizar externo*/
  padding: 60px 10px;  /* ajustar espaçamento cimabaixo RightLeft interno */
}

/*  ◘◘◘ Sobre ◘◘◘ */
.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;    /* centralizar!! */
  padding: 40px 0;     /* espaçar separação */
  display: flex;     /* são os filhos da div */
  flex-wrap: wrap; /* quebrar as imagens */
}

.sobre-info {
  flex: 2 1 300px;     /* 2 grow 1 shrink 0 basis, ao definir como 2; responsivo 1 300px */
  margin: 0 10px;   /* alinhar com menu e não deixar grudado */
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;   /* estilização do texto */
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;    /* diminuir o contraste do txt */
}

.sobre-img {
  flex: 1;
  margin: 0 10px;
}

/*  ◘◘◘ Produtos ◘◘◘ */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end ;      /* center estaria alinhado ao centro */
}

.produtos-item{
  flex: 1 1 175px;   /* safari pode bugar o basis, teria q colocar min-width 175px */
  margin: 10px;
}

.produtos-item h2 {
  font: size 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}


.purple {     /* São OS TRAÇOS Coloridos  */
  border-top: 8px solid #ae81ff;
}
.pink {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
/*   align-self: flex-end; */      /* alinha com o blue */
}

/*  ◘◘◘ Preço ◘◘◘ */
.preco {
  background: #f7f7f7;
  padding: 60px;   /* padding geral, quero que os itens se expandam o máx possível */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px;  /* flexbasis para resolver bug safari  */
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
  /* min-width: 260px; */  /* resolve bug no safari ao diminuir janela */
}

.preco-item h2 {          /* por padrões os h são bolds */
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  max-width: 300px;   /* tamanho da caixa */
  margin: 20px auto; /* alinhar ao centro e 20 px up e down */
  display: block;
  font-size:  3em;    /* tamanho da fonte R$xx falar com o sup para diminuir */
  text-align: center;
  font-weight: bold;
  padding:  10px 0 5px 0;
  border-top:  4px solid white;  /* bordas linha cima */
  border-bottom:  4px solid white;   /* bordas linha baixo */
}

.preco-item sup {
  font-size: 1.5rem;      /* relativo a raiz o rem, 1.5em fica gigante*/
}

.preco-item ul {
  max-width: 300px;     
  margin: 20px auto;
  font-size: 1.25em;  
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {         /* alinhar a bolinha */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;     /* distanciar as palavras da lista */
}

.preco-item li::after {      /* criar conteúdo após txt li, que será a bolinha blue */
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preco-item a{        /* BOTÃO estilização */
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;     
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.0em;
  padding: 15px 0;
  text-align: center;
}

@media (max-width:800px) {     /* abaixo de 800 os padding ficam 10px */
  .preco{
    padding-left: 10px;
    padding-right: 10px;
  }
}

.preco .preco-item:nth-child(3) {   /* influenciar com o order a disposição das box */
  order: -2                            /* falar com o filho para selecionar qual  */
}                                    /* ficará na ordem reversa no mobile. */
.preco .preco-item:nth-child(2) {   /* o cobre por padrão é order 0,ñ selecionar */
  order: -1
}